body {
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}

header {
    background-color: #1f1f1f;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

header > ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

header > ul > li {
    float: left;
    height: 28px;
}

#datetime {
    width: 30ch;
    margin: 4px;
}

#slider {
    width: calc(100vw - 30ch - 75px);
    min-width: 250px;
}

#place {
    border: 1px solid blue;
}
